# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
